.title {
  color: white;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 6em;
}

.about-link {
  font-family: 'Yuji Mai', serif;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 24px;
  text-align: center;
}

button {
  background-color: white;
  color: #0066cc;
  padding: 15px 32px;
  border-radius: 25px;
  font-family: 'Yuji Mai', serif;
  font-size: 16px;
}

.chord-wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8em;
}

.chord {
  margin-left: 4px;
  margin-right: 4px;
}

#random {
  display: block;
  margin: 2em auto;
  background-color: #dc6070;
  color: white;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 4em;
  }
  button {
    padding: 15px;
  }
  .chord-wrapper {
    margin-top: 4em;
    max-width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2em;
    margin-left: 2em;
    max-height: 200px;
  }

  #random {
    padding-right: 2em;
    padding-left: 2em;
  }
}
